In [1]:
import pandas as pd
import numpy as np

# An Indroduction to the data

The data is Jeff Sackmann's ATP match data. I have downalded match data from 1998-2024, as this is the time period of Federer, Djockovic, Nadal and Murray's careers. It is worth note that Djockovic is still an active player, but there is not yet dtaa for 2025. As the data is stored in csv files for each year, but has been compiled into one csv "combined_ATP_results.csv". Let's start by loading the data as a dataframe.

In [2]:
combined_df = pd.read_csv("../data/processed/combined_ATP_results.csv")
combined_df.head()

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,1998-339,Adelaide,Hard,32,A,19980105,1,102035,1.0,...,29.0,18.0,11.0,9.0,2.0,5.0,4.0,2949.0,74.0,649.0
1,1,1998-339,Adelaide,Hard,32,A,19980105,2,101727,NaN,...,32.0,19.0,11.0,8.0,9.0,13.0,79.0,617.0,87.0,537.0
2,2,1998-339,Adelaide,Hard,32,A,19980105,3,102765,NaN,...,38.0,18.0,7.0,9.0,5.0,12.0,93.0,521.0,71.0,665.0
3,3,1998-339,Adelaide,Hard,32,A,19980105,4,102563,7.0,...,37.0,21.0,10.0,11.0,1.0,6.0,39.0,959.0,76.0,633.0
4,4,1998-339,Adelaide,Hard,32,A,19980105,5,102796,4.0,...,57.0,33.0,20.0,13.0,12.0,17.0,22.0,1450.0,65.0,708.0